* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
}

.header-bg {
  position: relative;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-colored {
  background-color: rgb(39, 39, 39);
}

.cls-1 {
  fill: #fed136;
}

.navbar-brand {
}

.nav-link {
  color: rgb(167, 167, 167) !important;
}

.navbar-nav li {
  padding: 0px 10px;
}

.navbar-toggler {
  padding: 7px;
  background-color: #fed136;
  margin-right: 20px;
  font-weight: 600;
  color: white;
}

.navbar-toggler:focus {
  box-shadow: none;
  border: 2px solid #fed136;
}

.subtitle1,
.subtitle2 {
  position: absolute;
  transform: translate(-50%, 0);
  letter-spacing: 0.1em;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.tell-button {
  position: absolute;
  background-color: #fed136;
  transform: translate(-50%, 0);
  top: 65%;
  left: 50%;
  padding: 15px 25px;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: large;
  font-weight: 600;
}

.sml-brand {
  height: 60px !important;

  transition: all 0.3s;
}

.services-container {
  background-color: white;
  overflow-x: hidden;
}

.services-title,
.portfolio-title {
  height: 20%;
  margin: 50px 0;
}

.services-title .title,
.portfolio-title .title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}

.services-title .subtitle,
.portfolio-title .subtitle {
  font-size: 20px;
  color: rgb(161, 159, 159);
}

.services-boxes {
  height: 40%;
  padding: 0px 60px;
}

.fas-container {
  width: 120px;
  height: 120px;
  background-color: #fed136;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas {
  color: white;
  font-size: 70px;
}

.services-boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-boxes .box {
  font-size: 16px;
  padding: 5px;
}

.box h2 {
  margin: 15px 0;
}

.portfolio-container {
  overflow-x: hidden;
  min-height: 100%;
}
.portfolio-container .first-row {
  margin-bottom: 40px;
}

.portfolio-boxes .box {
  height: 280px;
}

.portfolio-boxes .box h2 {
  margin-bottom: 0;
}

.portfolio-boxes .box img {
  width: 100%;
  height: 80%;
}

.prt-sub {
  color: gray;
}

.about-container {
  padding: 20px 0;
  min-height: 100rem;
}

.about-box {
  position: absolute;
}

.about-container .line {
  width: 2px;
  min-height: 100rem;
  background-color: rgb(219, 218, 218);
  position: relative;
  margin-left: 60px;
}

.team-title {
  margin-top: 100px;
}

.team-box img {
  width: 250px !important;
  height: 250px !important;
  border-radius: 50%;
  border: 8px solid rgb(219, 218, 218);
}

.team-members {
  margin-top: 100px;
}

.team-icons {
  display: flex;
  margin: 10px 0;
  justify-content: center;
  padding-top: 10px;
}

.team-box h3 {
  padding-top: 10px;
}
.team-box h5 {
  color: rgb(167, 167, 167);
}

.icon i {
  color: rgb(219, 218, 218);
}

.logos img {
  width: 120px;
  height: 40px;
}

.contact-container {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}

.map-image {
  width: 100%;
  height: 90%;
  background-image: url("assets/img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(39, 39, 39);
}

@media only screen and (min-width: 320px) {
  .team-container {
    min-height: 100rem;
  }

  .navbar-brand {
    height: 40px;
  }
  .logo-svg {
    width: 240px;
    max-height: 100%;
    margin-left: 10px;
    font-size: 30px;
  }

  .subtitle1 {
    top: 35%;
    left: 50%;
    font-size: 25px;
  }

  .subtitle2 {
    top: 45%;
    left: 50%;
    font-size: 40px;
    text-align: center;
    font-weight: 900;
  }

  .services-boxes {
    min-height: 100%;
  }

  .services-title .subtitle {
    color: rgb(161, 159, 159);
    margin-top: 0px;
  }

  .services-boxes .box {
    margin-top: 30px;
  }

  .portfolio-boxes .box {
    margin-bottom: 30px;
  }

  .about-container .line {
    width: 2px;
    min-height: 100rem;
    background-color: rgb(219, 218, 218);
    position: relative;
    margin-left: 60px;
  }

  .about-img img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 8px solid rgb(219, 218, 218);
  }

  .about-des {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 70px;
    text-align: left;
  }

  .abt2 img {
    top: 350px;
  }

  .about-des2 {
    top: 350px;
    left: 70px;
    text-align: left;
  }

  .abt3 img {
    top: 750px;
  }

  .about-des3 {
    top: 750px;
    text-align: left;
  }

  .abt4 img {
    top: 1150px;
  }

  .about-des4 {
    top: 1150px;
    left: 70px;
    text-align: left;
  }

  .abt-end {
    top: 1500px;
    background-color: #fed136;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 8px solid rgb(219, 218, 218);
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logos {
    width: 100%;
    height: 220px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 8px 0px;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team-des {
    color: rgb(167, 167, 167);
    text-align: center;
    margin-top: 10px;
    padding: 0px;
  }

  .contact-container {
    margin-top: 240px;
    width: 100%;
    height: 100%;
  }

  .form {
    padding-top: 0;
  }

  .contact-title {
    padding-top: 0px;
  }

  .map-image {
    padding: 0px 10px;
  }

  textarea {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  .footer-container {
    padding: 10px 0;
  }
}

.nav-link.active {
  color: #fed136 !important;
}

@media only screen and (min-width: 768px) {
  .navbar-toggler {
    padding: 7px 10px;
  }
}
@media only screen and (min-width: 992px) {
  .logo-svg {
    width: 210px;
    height: 70px;
  }

  .subtitle1 {
    top: 35%;
    left: 50%;
    font-size: 40px;
  }

  .subtitle2 {
    top: 45%;
    left: 50%;
    font-size: 60px;
  }

  .portfolio-boxes .box {
    margin-bottom: 0px;
  }
}

.contact-title h1 {
  color: white;
}

.contact-title p {
  color: rgb(167, 167, 167);
}

.msg-fields {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.msg-fields input {
  padding: 14px 0;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
}

.msg-fields input::placeholder {
  padding-left: 10px;
}

textarea::placeholder {
  padding: 10px;
}

.send-msg {
  background-color: #fed136;
  padding: 15px 25px;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: large;
  font-weight: 600;
  margin: 50px 0;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-container h5 {
  display: inline;
  color: #fed136;
  margin: 0 8px;
}

@media only screen and (min-width: 1200px) {
  textarea {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  .footer-container {
    padding: 0px 0;
  }

  .map-image {
    padding: 0px 100px;
  }

  .contact-title {
    padding-top: 100px;
  }

  .form {
    padding-top: 50px;
  }

  .msg-fileds {
    padding: 0px 100px;
  }

  .team-container {
    min-height: unset;
  }

  .logos {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 8px;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team-des {
    color: rgb(167, 167, 167);
    text-align: center;
    margin-top: 100px;
    padding: 0px;
  }

  .contact-container {
    margin-top: 40px;
    width: 100%;
    height: 90%;
  }

  .nav-link {
    font-size: 1.5vw;
  }

  .navbar-brand {
    height: 100px;
  }

  .logo-svg {
    width: 250px;
    max-height: 100%;
  }

  .services-container {
    height: 75%;
  }

  .services-boxes {
    min-height: 40%;
  }

  .services-boxes {
    margin-top: 30px;
  }

  .services-boxes .box {
    margin-top: 0px;
  }

  .portfolio-boxes {
    padding: 0px 80px;
  }

  .about-img img {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 8px solid rgb(219, 218, 218);
  }

  .about-container .line {
    width: 2px;
    min-height: 100rem;
    background-color: rgb(219, 218, 218);
    position: relative;
    margin: 0 auto;
  }

  .about-des {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: -400px;
    text-align: right;
  }

  .abt2 img {
    top: 350px;
  }

  .about-des2 {
    top: 350px;
    left: 100px;
    text-align: left;
  }

  .abt3 img {
    top: 750px;
  }

  .about-des3 {
    top: 750px;
    text-align: right;
  }

  .abt4 img {
    top: 1150px;
  }

  .about-des4 {
    top: 1150px;
    left: 100px;
    text-align: left;
  }

  .abt-end {
    top: 1500px;
    background-color: #fed136;
    width: 180px;
    height: 180px;
    position: absolute;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 8px solid rgb(219, 218, 218);
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team-container {
  }
}

.team-title h5 {
  color: rgb(167, 167, 167);
}
